@use 'header';
@use 'hero';
@use 'upsell';
@use 'press';
@use 'footer-upsell';
@use 'footer';
@use 'responsive';
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

